---
layout: default
---

<div class="home">

  <h1><a href="{{ '/news' | prepend: site.baseurl }}">Noticias</a></h1>
  {% include list.html category='news' limit=5 %}


  <h1><a href="{{ '/jobs' | prepend: site.baseurl }}">Ofertas de Trabajo</a></h1>
  {% include list.html category='jobs' limit=5 %}


  <h1><a href="{{ '/events' | prepend: site.baseurl }}">Eventos</a></h1>
  {% include list.html category='events' limit=5 %}



  <p class="rss-subscribe"><a href="{{ "/atom.xml" | prepend: site.baseurl }}">ATOM</a></p>
  <p class="rss-subscribe"><a href="{{ "/rss.xml"  | prepend: site.baseurl }}">RSS</a></p>

</div>
