/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');*/


$fg-color: #111;
$bg-color: #eee;

$header-height: 7em;
$footer-height: 5em;

/** Reset **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  color: $fg-color;
}

a {
  color: #5F8AB4
}

//font
body {
 /*font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/** Background **/
//color
body {
  height: 100%;
  color: $fg-color;
  background-color: $bg-color;
}

// background image
/*
body {
  background: url('/assets/64531/green_suburb.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

iframe {
  border: 0;
  background-color: darken($bg-color, 20%);
}


//Bootstrap fix
.bootstrap-row-fix {
  padding-left: 15px;
  padding-right: 15px;
}


.gcal {
  width: 100%;
  height: 40em;
}



/** Transparency **/
.heavy-dim {
  background: rgba(20, 20, 20, 0.7);
}
.medium-dim {
  background: rgba(20, 20, 20, 0.5);
}
.light-dim {
  background: rgba(20, 20, 20, 0.3);
}



.site {
  text-align: justify;
}
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-v-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar {
  margin-bottom: 0px;
}
footer {
  /*display: block;*/
  /*position: absolute;*/
  /*box-sizing: border-box;*/
  bottom: 0;
  width: 100%;
  margin-top: 2em;
  background-color: $bg-color;
  height: $footer-height;
}
