<!DOCTYPE html>
<html lang="{{ site.language}}">

  {% include head.html %}

  <body>
    <div class="site container-fluid">

      {% include header.html %}

      <div class="row">
        <div
          class="
            col-md-8 col-md-offset-2
            col-sm-10 col-sm-offset-1
            col-xs-12
            medium-transparency
            round5
            "
          >
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>

      <footer class="row">
        <div
          class="
            col-md-8 col-md-offset-2
            col-sm-10 col-sm-offset-1
            col-xs-12
            no-h-padding
            "
          >
          {% include footer.html %}
        </div>
      </footer>

    </div>
    {% include scripts.html %}
  </body>
</html>
